header{
    border: 1px solid red;
    margin-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
}
.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
}
.header .header__text{
    border: 1px solid red;
}
.header .header__navigation{
    display: flex;
    width: 50px;
    border: 1px solid red;
}


