.shex{
    display: flex;
    height: 30%;
}

.shex .shex__menu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    font-size: 20px;
    color: white;
    background-color: gray;
    
}



.shex .shex__text{
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 25px;
    color: gray;
    padding-left: 20px;
}

