.mainbox{
    display: flex;
    height: 60%;
}
.mainbox__texts{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40%;
}

.mainbox__texts .texts__01{
    padding-left: 130px;
}
.mainbox__texts .texts__02{
    position: relative;
    left: 130px;
    padding-left: 130px;
    width: 200%;

    font-size: 200px ;
    font-weight: 800;
    color: gray;
    z-index: 1;
  
}
.mainbox__texts .texts__03{
    padding-left: 130px;
}
.mainbox__texts .texts__04{
    padding-left: 130px;
}


.mainbox__img{
    position: relative;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    height: 100%;
}
.img__position{
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 100%
}

.mainbox__img > img{
    position: relative;
    height: 100%;
    
    
}

.img__nav{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: white;
    width: 200px;
    height: 100px;
    
}